[Desktop Entry]
Name=EasySlideshow
Exec=/usr/local/easyslideshow/EasySlideshow
Icon=/usr/local/easyslideshow/icon.svg
Type=Application
Categories=Photo;
